body {
	font-family: Arial, sans-serif;
	color: #333333;
	background-color: #FFFFFF;
}

@media (prefers-color-scheme: dark) {
	body {
		color: #EEEEEE;
		background-color: #333333;
	}
}

header {
	background-color: #336699;
	color: #FFFFFF;
}

nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

nav li {
	display: inline-block;
	margin-right: 20px;
}

nav li:last-child {
	margin-right: 0;
}

nav a {
	color: #FFFFFF;
	text-decoration: none;
	font-weight: bold;
}

nav a:hover {
	color: #FFFFFF;
	text-decoration: underline;
}

main {
	margin: 20px;
}

section {
	margin-bottom: 20px;
}

section h2 {
	margin-top: 0;
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

footer {
	background-color: #336699;
	color: #FFFFFF;
	text-align: center;
	padding: 10px;
	margin-top: 20px;
}
